chromadb==1.1.1
fastapi==0.119.0
langchain_community==0.3.31
langchain_ollama==0.3.10
langgraph==0.6.10
langgraph-checkpoint-sqlite==2.0.11
langgraph-checkpoint-postgres==2.0.25
sentence-transformers==5.1.2
